# SPDX-FileCopyrightText: Copyright (c) 2024-2025, NVIDIA CORPORATION.
# SPDX-License-Identifier: Apache-2.0

exclude: |
  (?x)^(
      tests/templates/.*py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.2.1
    hooks:
      - id: verify-copyright
        args: [--fix, --spdx]
        files: |
          (?x)
            [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx|rs|java)$|
            CMakeLists[.]txt$|
            CMakeLists_standalone[.]txt$|
            meta[.]yaml$|
            pyproject[.]toml$|
            setup[.]cfg$|
            ^[.]pre-commit-config[.]yaml$|
            dependencies[.]yaml$|
            ^tests/templates/dependencies-rbb-only[.]yaml$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.11.2'
    hooks:
      - id: mypy
        args: [
          "--config-file=pyproject.toml",
          "rapids_build_backend/"
        ]
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]

default_language_version:
      python: python3
