name: checks

on:
  workflow_call:
    inputs:
      build_type:
        type: string
      build_workflow_name:
        description: |
          Name of a workflow file that produced artifacts to be downloaded in this run.
          If not set (the default), artifact-handling scripts use RAPIDS-conventional defaults (like "build.yaml" when "build_type == nightly").
        required: true
        type: string
      publish:
        type: boolean

jobs:
  check-style:
    runs-on: ubuntu-latest
    container:
      image: rapidsai/ci-conda:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check style
        run: "./ci/check_style.sh"
  build-conda:
    needs: check-style
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: ${{ inputs.build_type }}
      script: "ci/build_python.sh"
      # Select only the build with the minimum Python version and the maximum CUDA version
      matrix_filter: '[map(select(.ARCH == "amd64")) | min_by((.PY_VER | split(".") | map(tonumber)), (.CUDA_VER | split(".") | map(-tonumber)))]'
  build-wheel:
    needs: check-style
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type }}
      script: "ci/build_wheel.sh"
      # Select only the build with the minimum Python version and the maximum CUDA version
      matrix_filter: '[map(select(.ARCH == "amd64")) | min_by((.PY_VER | split(".") | map(tonumber)), (.CUDA_VER | split(".") | map(-tonumber)))]'
      package-name: rapids-build-backend
      package-type: python
      append-cuda-suffix: false
  publish-wheels:
    needs:
      - build-wheel
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type }}
      build_workflow_name: ${{ inputs.build_workflow_name }}
      package-name: rapids-build-backend
      publish_to_pypi: true
    if: ${{ inputs.publish }}
  publish-conda:
    needs:
      - build-conda
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-upload-packages.yaml@main
    with:
      build_type: ${{ inputs.build_type }}
      build_workflow_name: ${{ inputs.build_workflow_name }}
    if: ${{ inputs.publish }}
