name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-checks:
    uses: ./.github/workflows/checks-and-builds.yaml
    with:
      build_type: pull-request
      publish: false
    secrets: inherit
